
<div>
    <form>
        <label for="id">Product id:</label><br>
      <input type="text" id="id" name="id" placeholder="Enter product id"><br>
      <label for="ProductName">ProductName:</label><br>
      <input type="text" id="ProductName" placeholder="Enter product name">
      <label for="Categoryid">Categoryid:</label><br>
      <input type="text" id="Categoryid" placeholder="Enter Categoryid">
      <label for="description">Description:</label><br>
      <input type="text" id="description" placeholder="description of the product">
      <label for="price">Price:</label><br>
      <input type="number" id="Categoryid" placeholder="Price">
      <span>
        <label for="is_available">Product Availability:</label><br>
        <input type="text" id="is_available" placeholder="Product Availability">
        <input type="radio" id="yes" name="is_available" value="yes">
        <label for="yes">YES</label>&nbsp&nbsp
        <input type="radio" id="no" name="is_available" value="no">
        <label for="no">NO</label>
    </span>
  
      
      

    </form>
    

</div>
